<div class="container mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>Tables (Tabla)</h1>
        <a href="https://v17.material.angular.io/components/table/overview" class="enlace-con-imagen" target="_blank">
            <img src="assets/imagenes_general/angular-logo.png" alt="Icono" class="icono-enlace">
            Enlace al componente original
        </a>
    </div>
        
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Descripción</h3>
        <p>El componente Tabla permite organizar y visualizar datos estructurados en filas y columnas, facilitando la lectura y comparación de información dentro de la interfaz.</p>
        <p>Las tablas son fundamentales para mostrar grandes volúmenes de datos de manera clara y accesible. Un diseño bien estructurado permite que la información sea comprendida rápidamente por las personas usuarias y accesible para tecnologías de asistencia.</p>
    </div>
        
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Uso del componente</h3>
        <p>Las tablas se utilizan cuando es necesario presentar datos estructurados que las personas usuarias puedan comparar o analizar.

        </p>
        <p>Buenas prácticas</p>
        <ul>
            <li>
                <p>
                    Usar tablas solo cuando la información realmente necesite estructurarse en filas y columnas.
                </p>
            </li>
            <li>
                <p>
                    Incluir encabezados claros en cada columna para mejorar la comprensión de los datos.
                </p>
            </li>
            <li>
                <p>
                    Asegurar que el contenido de las celdas esté alineado correctamente según el tipo de dato (por ejemplo, texto alineado a la izquierda y números a la derecha).  
                </p>
            </li>
            <li>
                <p>
                    Si la tabla es extensa, considerar paginación o scroll horizontal para facilitar su navegación. 
                </p>
            </li>
            <li>
                <p>
                    Evitar tablas con demasiada información sin opciones de filtrado o búsqueda.  
                </p>
            </li>
        </ul>
    </div>

    <div class="mdl-cell mdl-cell--12-col">    
        <h3>Diseño y Formato del componente</h3>
        <p></p>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <h3>Criterios de accesibilidad</h3>

        <h4>Criterios Transversales</h4>
        <ol>
            <li>
                <p>
                    Contraste: Asegurar buena visibilidad entre filas y columnas.
                </p>
            </li>
            <li>
                <p>
                    Navegación por teclado: Navegable con Tab y flechas.

                </p>
            </li>
            <li>
                <p>
                    Atributos ARIA: Usar aria-labelledby para describir la tabla, scope="col" en encabezados de columna, scope="row" en encabezados de fila, también se utiliza aria-sort para el ordenamiento de la información. Cada fila debe contar con aria-selected para anunciar su estado a los lectores de pantalla.
                </p>
            </li>
            <li>
                <p>
                    Compatibilidad con lectores de pantalla:  Debe anunciar encabezados y datos relacionados al navegar.
                </p>
            </li>
        </ol>
        <h4>Criterios Específicos</h4>
        <ol>
            <li>
                <p>
                    Etiquetado HTML Semántico: Verificar que la estructura HTML de la tabla sea correcta.
                </p>
            </li>
            <li>
                <p>
                    Encabezados claros: Cada columna debe contar con un título descriptivo.
                </p>
            </li>
        </ol>
    </div>
        
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Casos de uso</h3>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <!-- Referencias -->
        <h3>Referencias de uso del componente en proyectos TGR</h3>
        <ul>
            <li>
                <a href="" target="_blank" ></a>
            </li>
        </ul>
        <h3>Referencias de uso del componente en otros SD</h3>
        <ul>
            <li>
                <a href="https://carbondesignsystem.com/components/data-table/usage/" target="_blank">Carbon Design System</a>
            </li>
            <li>
                <a href="https://getbootstrap.com/docs/5.3/content/tables/" target="_blank">Bootstrap</a>
            </li>
            <li>
                <a href="https://polaris.shopify.com/components/tables" target="_blank">Polaris Design System</a>
            </li>
            <li>
                <a href="https://tailwindui.com/components/application-ui/lists/tables" target="_blank">Talwind Design System</a>
            </li>
        </ul>   
    </div>
</div>
