<div mat-dialog-actions close>
  <button mat-icon-button mat-dialog-close style="position: absolute; right: 10px; top: 10px;">
    <mat-icon>close</mat-icon> <!-- Icono de la "X" -->
  </button>
</div>

<div class="item-center">
  <img src="assets/imagenes_general/info.png" class="info">
</div>

<div mat-dialog-title>
  <div class="title-content">
    <h1>Información de cartolas</h1>
    <p class="center-text">Tienes pendiente cargar las siguientes cartolas</p>
  </div>
</div>

<div mat-dialog-content class="content">
  <h4>Numero de cartolas faltantes: <span class="number">3</span></h4>
  <h4>Fecha de cartolas faltantes: </h4><p>DD/MM/AAAA - DD/MM/AAAA - DD/MM/AAAA</p>
  <mat-divider></mat-divider>
  <p class="center-text">Comunícate con la entidad bancaria para gestionar o corregir tus cartolas.</p>
</div>
