<div class="container">
    <div class="content-row">
        <div class="text-container">
            <h1>Un sistema para todas las personas</h1>
            <p>
                El Sistema de Diseño de TGR es una guía para crear experiencias digitales coherentes, accesibles y usables.
                Estandariza la comunicación, alinea interfaces con la visión institucional y proporciona herramientas para el desarrollo de productos digitales.
            </p>
        </div>
        <img src="assets/home/imagenPortada.png" class="image">
    </div>
</div>

<div class="container">
    <div class="options-container">
        <div class="option-card">
            <h4>Lenguaje Inclusivo</h4>
            <p>Debemos utilizar lenguaje que no discrimine en cualquier grado o a cualquier grupo de la población.</p>
        </div>
        <div class="option-card">
            <h4>Facilidad de uso</h4>
            <p>La usabilidad web se refiere al grado de facilidad para acceder y navegar por una página de forma eficiente.</p>
        </div>
        <div class="option-card">
            <h4>Sistema responsivo</h4>
            <p>El diseño responsivo hace que su sitio web sea accesible a medida que evoluciona.</p>
        </div>
    </div>
</div>

<div class="container-2">
    <h2>Recursos Sistema de Diseño TGR</h2>
    <div class="content-row reverse">
        <img src="assets/home/imagenRecursos.png" class="image">
        <div class="cards-section">
            <div class="info-card">
                <div class="card-header">
                    <span class="material-symbols-outlined card-icon">grid_view</span>
                    <h4>Revisa el Catálogo de Componentes</h4>
                </div>
                <p>Muestra el listado de componentes de Angular Material que ya tienen el estilo de TGR, además de guías de la grilla principal.</p>
            </div>
            <div class="info-card">
                <div class="card-header">
                    <span class="material-symbols-outlined card-icon">cards</span>
                    <h4>Plantillas listas para usar</h4>
                </div>
                <p>Accede a plantillas construidas con componentes del SD-TGR, garantizando coherencia, accesibilidad y eficiencia.</p>
            </div>
            <div class="info-card">
                <div class="card-header">
                    <img src="assets/home/iconoMoqup.png" alt="Moqup Icon" class="card-icon">
                    <h4>Recursos de diseño</h4>
                </div>
                <p>El Sistema de Diseño de TGR está disponible en Moqups, revisa prototipos de interfaces con componentes y estilos predefinidos.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-3">
    <h2>Estilos Sistema de Diseño TGR</h2>
    <p>Definir colores, tipografía e íconos en el Sistema de Diseño asegura coherencia, accesibilidad y una experiencia unificada, mejorando la usabilidad y el desarrollo eficiente.</p>
    <div class="mdl-cell mdl-cell--12-col">
        <mat-card class="example-card">
            <a [routerLink]="['/']">
                <span class="material-symbols-outlined card-icon">colors</span>
            </a>
            <mat-card-header>
                <h4>Color</h4>
                </mat-card-header>
            <mat-card-content>
            <p>
                El uso de colores en el SD-TGR garantiza accesibilidad, jerarquía visual y coherencia institucional, asegurando contraste y legibilidad.
            </p>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="example-card">
            <a [routerLink]="['/']">
                <span class="material-symbols-outlined card-icon">format_size</span>
            </a>
            <mat-card-header>
                <h4>Tipografía</h4>
            </mat-card-header>
            <mat-card-content>
            <p>
                La tipografía en el SD-TGR garantiza legibilidad, jerarquía y coherencia, asegurando una experiencia clara y accesible para todas las personas usuarias.
            </p>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="example-card">
            <a [routerLink]="['/']">
                <span class="material-symbols-outlined card-icon">account_circle</span>
            </a>
            <mat-card-header>
                <h4>Iconos</h4>
            </mat-card-header>
            <mat-card-content>
            <p>
                Los iconos deben ser claros, consistentes y representar acciones de manera intuitiva, mejorando la accesibilidad y la navegación en las interfaces.
            </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

