<div class="container mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>Slide Toggle</h1>
        <a href="https://v17.material.angular.io/components/slide-toggle/overview" class="enlace-con-imagen" target="_blank">
            <img src="assets/imagenes_general/angular-logo.png" alt="Icono" class="icono-enlace">
            Enlace al componente original
        </a>
    </div>
        
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Descripción</h3>
        <p>El Slide Toggle es un interruptor deslizante que permite activar o desactivar una opción con un solo clic o toque. Su propósito es ofrecer una forma intuitiva y visualmente clara de alternar estados binarios, como encender/apagar o habilitar/deshabilitar una funcionalidad.</p>
        <p>Desde el punto de vista de accesibilidad, este componente debe ser operable mediante teclado y tecnologías de asistencia, además de proporcionar un estado visual claro y con suficiente contraste.</p>
    </div>
        
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Uso del componente</h3>
        <p>¿Cuándo utilizarlo?</p>
        <ul>
            <li>
                <p>
                    Para habilitar o deshabilitar configuraciones rápidamente.
                </p>
            </li>
            <li>
                <p>
                    Cuando el cambio de estado es inmediato y no requiere confirmación.
                </p>
            </li>
            <li>
                <p>
                    El componente no permite estados intermedios.    
                </p>
            </li>
        </ul>
        <p>Buenas prácticas</p>
        <ul>
            <li>
                <p>
                    Utilizar etiquetas descriptivas para indicar claramente la función del Slide Toggle.
                </p>
            </li>
            <li>
                <p>
                    No utilizar en opciones anidadas. 
                </p>
            </li>
        </ul>
    </div>

    <div class="mdl-cell mdl-cell--12-col">    
        <h3>Diseño y Formato del componente</h3>
        <ul>
            <li>
                <p>
                    Color de componente: Cambia de acuerdo con el estado activado/desactivado.
                </p>
            </li>
            <li>
                <p>
                    Etiqueta: Siempre visible, alineada a la izquierda o derecha del interruptor.  
                </p>
            </li>
            <li>
                <p>
                    Efecto de transición: Suave al deslizar de un estado a otro.    
                </p>
            </li>
        </ul>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <h3>Criterios de accesibilidad</h3>

        <h4>Criterios Transversales</h4>
        <ol>
            <li>
                <p>
                    Contraste: Los estados y etiqueta del componente "activado/desactivado" deben ser claro visualmente y cumplir con el estándar AA. 
                </p>
            </li>
            <li>
                <p>
                    Navegación por teclado: Se activa con las teclas "Espacio" o "Enter".
                </p>
            </li>
            <li>
                <p>
                    Atributos ARIA: Usar aria-label o aria-labelledby si no hay texto visible que describa la función del componente.
                </p>
            </li>
            <li>
                <p>
                    Compatibilidad con lectores de pantalla:  El narrador debe anunciar correctamente el los estados "activado o desactivado".
                </p>
            </li>
        </ol>
        <h4>Criterios Específicos</h4>
        <ol>
            <li>
                <p>
                    Encabezados claros: La etiqueta debe contar con un texto descriptivo.
                </p>
            </li>
        </ol>
    </div>
        
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Casos de uso</h3>
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <!-- Referencias -->
        <h3>Referencias de uso del componente en proyectos TGR</h3>
        <ul>
            <li>
                <a href="" target="_blank" ></a>
            </li>
        </ul>
        <h3>Referencias de uso del componente en otros SD</h3>
        <ul>
            <li>
                <a href="https://carbondesignsystem.com/components/toggle/usage/" target="_blank">Carbon Design System</a>
            </li>
            <li>
                <a href="https://getbootstrap.com/docs/5.3/forms/checks-radios/#switches" target="_blank">Bootstrap</a>
            </li>
            <li>
                <a href="https://tailwindui.com/components/application-ui/forms/toggles" target="_blank">Tailwind UI</a>
            </li>
        </ul>   
    </div>
</div>
