mat-card {
  background-color: #1e1e1e;
  color: #dcdcdc;
  max-width: 800px;
  box-sizing: border-box;
  width: 100%; /* Asegura que ocupe el 100% del ancho disponible sin exceder el max-width */
}

.code-block {
  background-color: #1e1e1e;
  color: #dcdcdc;
  font-family: "Courier New", monospace;
  white-space: pre-wrap;
  padding: 10px;
  overflow-x: auto; /* Permite hacer scroll horizontal si el código es demasiado largo */
  border-radius: 4px;
  box-sizing: border-box;
}

// Responsividad para pantallas pequeñas
@media (max-width: 768px) {
  mat-card {
    width: calc(100% - 40px); /* Ajusta el width para que tenga márgenes laterales en pantallas pequeñas */
  }

  .code-block {
    font-size: 14px; /* Ajusta el tamaño del texto si es necesario */
  }
}
