<div class="container">
    <h1>Plantillas</h1>
    <p>Explora una variedad de plantillas diseñadas para facilitar la implementación y mantener la coherencia visual en los proyectos.</p>
    <p>Aprovecha estas herramientas para construir interfaces de forma eficiente y sin perder de vista los estándares de diseño y accesibilidad establecidos.</p>
</div>


<div class="mdl-cell mdl-cell--12-col">
    <mat-card class="example-card">
        <a [routerLink]="['/sdtgr-lab/plantillas/modales']">
            <img mat-card-image src="assets/home-componentes/imgAutocomplete.png" alt="">
        </a>
        <mat-card-header>
            <h4>Modales</h4>
            </mat-card-header>
        <mat-card-content>
        <p>
            Esta plantilla proporciona una implementación básica de modales
        </p>
        </mat-card-content>
    </mat-card>
</div>
